Requirements for the triangle program:
1. The program accepts six command-line arguments representing the 
   Cartesian coordinates of three points in the form 'x1 y1 x2 y2 x3 y3'.
2. On completion the program outputs the coordinates of the three points and 
   the area of the triangle formed by the three points.
3. If the user provides fewer than six arguments, the program exits with an
   error message indicating that 6 arguments are required and outputs the 
   number of arguments received.
4. If the user provides more than six arguments, the program exits with an
   error message indicating that 6 arguments are required and outputs the 
   number of arguments received.
5. The user can provide the coordinates using integers or floating point numbers 
   and the program will output the area of the triangle with a precision of  
   three decimal places to avoid floating point number rounding errors.
6. If the user provides a non-integer, non-floating point number argument,  
   the program exits with an error message indicating that integer or float 
   inputs are required, and outputs the position of the first invalid argument.
7. The program checks if the three points are identical. If the points are the
   same, the program outputs a message stating that the points form a point.
8. The program checks if the three points form a line. If the three points form
   a line, the program outputs a message stating that the points form a line
   along with the slope of the line. A vertical line has an undefined slope.
9. The program determines what kind of triangle the three points form. If the 
   points form a triangle with three equal side lengths, the program outputs that 
   the triangle is equilateral. If the points form a triangle with two equal side 
   lengths and a third unequal side, the program outputs that the triangle is 
   isosceles. If the points form a triangle with three unequal side lengths, the 
   program outputs that the triangle is scalene.

